body {
    padding-top: 3em;
}

body > div:first-of-type { 
    max-width: 50em;
 }

 #add-album {
     margin-top: 1em;
 }

 #albums-list {
     margin-top: 1em;
 }

 .moving-el {
     opacity: 0.4;
 }

 .over {
    background-color: #dfeeff;
 }

 .fa-ellipsis-v {
     margin-right: 0.8em;
 }

 #albums-list li {
    cursor: move;
 }